html {
    scroll-behavior: smooth;
}

body {
  font-family: 'Neucha', cursive;
  transition: background-color .7s;
  display: inline-block;
  background:  #A40056;
 
}

/* logo*/
.logo {
height:70%;
width:25%;
margin-right:2%;
 transition: 0.3s;


}

.logo:hover {
height:75%;
width:30%;
margin-right:2%;
cursor:pointer;
transform: rotate:(-15deg);



}
.intro {
background-image:url("Assets/sunshine.png");
  display: block;
 margin:0;
 z-index: -10;
 background-size: 100%;

}
.subtitlefirst {
position:absolute;
font-size:100%;
text-align: right;
margin-right: 0;
margin-left: 3%;
background-color: white;
padding: 1%;
 transition: 0.3s;
 border-radius: 15px;
}

.subtitlefirst:hover {
font-size:130%;
background-color: white;
 cursor:none;
  border-radius: 15px;

}


/*SIDE NAV*/

.sidenav {
  height: 100%;
  width: 0;
font-family: 'Neucha', cursive;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  text-align:center;
  margin:auto;
 background-image:url("Assets/sunshine.jpg");
}
.navbar {
	  font-family: 'Neucha', cursive;

}
.sidenav a:hover{
  color: turquoise;
  transform: rotation(15deg);
  background:white;
  border-radius:15px;
}


/* i want an object to appear when I hover over Pam, can it be with CSS?*/ 

.sidenavbox {
  margin-top:3%;
  text-decoration: none;
  font-size: 25px;
  color: #A40056;
  display: block;
  transition: 0.3s;
  cursor:none;
  margin-left: 30%;
  margin-right:30%;
 

}


}

/*MAIN PAGE*/

body {
background-color: #A40056;


}
a {
text-decoration: none;	
color: turquoise;
cursor:pointer;
 transition: 0.3s;
}

a:hover {
font-size: 50px;
transform:rotate(20deg);
color: yellow;

}
.buttom {
	text-decoration: none;	
color: turquoise;
font-size: 30px;
cursor:pointer;
}

/*ASK YASH WHY DOESNT WORK THE MENU CHANGING SIZE nor COLOR */
.buttom a:hover {
font-color: yellow;
cursor:pointer;
}
/*ASK YASH WHY DOESNT WORK THE MENU CHANGING SIZE */

.menu a {
	font-size:300%;
	cursor:pointer;
}


.menu a:hover{
	font-size:400%;
}

 .images{
  padding: 2%;
  display: block;
  border:2%;
  height:25%;
  width:25%; 
  position:relative;


}


.images:hover {
	height:35%;
  	width:35%;
  	transform: rotate(20deg);
  	position: relative;
}


.text {
font-family: 'Neucha', cursive;
font-size: 200%;
text-decoration: none;
float:left;
position:relative;
color:white;
  opacity:100;
  top:0;
  left:0;
/* doesnt work

-webkit-animation-name: bounce; */

}

.text a:hover {
font-family: 'Neucha', cursive;
font-size: 200%;
text-decoration: none;
text-align: right;
position: relative;
transform: rotate(20deg)
opacity:100;
/* doesnt work*/

-webkit-animation-name: bounce;
}

.content1 { 
	display:block;
	position:fixed;
	margin-right:0;
	margin-top: 0;
	margin-left: 25%;

}
.content2 {
	z-index:99;
}

.lasttwo {

display:block;
position: absolute;
margin-top: 0px;
margin-left: 55%;
margin-right:0;

}


/* header*/

.header {
display:block;
margin-left:20%;
position:absolute;
font-family: 'Neucha', cursive;
font-size: 400%;


}

.subtitle {
position:absolute;
font-size:50%;
text-align: right;
margin-right: 0;
margin-left: 30%;
}


.info {
text-align:left;
margin-left: 2%;
margin-right: 10%;
font-size:200%;
margin-top:20%;

}


.specialwords:hover {
cursor:none;
transform: rotate(-15deg);
padding:0;
position:relative;
font-size:120%;
text-align: right;
margin-right: 0;
margin-left: 30%;
border: 0;

color:yellow;
/* it didnt work */
cursor: url("Assets/cursor.png") 4 12, auto;

}

.specialwordsinsideparagraph:hover {
transform: rotate(-15deg);
padding:0;
position:relative;
font-size:120%;
border: 0;
cursor:none;

}

/* foooter*/
.tropicw {
position:fixed;
height:30%;
width:10%;
bottom:5%;
margin-left: 66%;
z-index: 80;
}

.tropicw:hover {
height:35%;
width:11%;
cursor: pointer;
}

.art {
position:absolute;
height:200px;
width:10%;
margin-top: 38%;
margin-left: 75%;
font-size:500%;
}

}

